#plane {
  bottom: 7px;
  left: 12px;
  position: absolute;
  transform: scale(0.1) rotate(64deg);
}
#btn {
  background-color: #82DCF3;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
}
#my_canvas {
  border:2px solid;
}

#weather {
  position: absolute;
  left: 200px;
  bottom: 300px;
} 