.map {
    height: 700px;
    width: 100%;
    z-index: 1;
}

.data-form{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    border: 1px solid slategrey;
    border-radius: 10px;
    background-color: white;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}

input{
    width: 360px;
    height: 30px;
    margin-bottom: -70px;
    border: 1px solid slategrey;
    border-radius: 5px;
    z-index: 5;
    position: absolute;

}

button{
    width: 200px;
    height: 30px;
    border: 1px solid slategrey;
    border-radius: 10px;
    background-color: slategrey;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    position: absolute;
    z-index: 6;
    margin-top: -80px;
}

.plane {
    width: 60px;
    height: 60px;
}


select {
    margin-top: 300px;
}
